.left-sidebar2 {
	background-color: #0f0f0f;
	position: fixed;
	top: 50px;
	bottom: 0px;
	left: 0px;
	width: 240px;
}
.left-icons {
	height: 28px;
}
.left-icons-container {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
	width: 200px;
}
.left-icons-container:hover {
	background-color: rgb(49, 48, 48);
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 10px;
	padding-left: 10px;
	cursor: pointer;
}
.left-icons-text {
	font-size: 13px;
	color: #f1f1f1;
}
