.right-sidebar {
	position: fixed;
	right: 0px;
	bottom: 0px;
	top: 155px;
	width: 430px;
	background-color: black; /* Dark background */
	color: white;
	font-family: Arial, sans-serif;
	padding: 20px;
}
.search-box input {
	width: 230px;
	padding: 10px;
	border: none;
	border-bottom: 1px solid gray;
	background-color: transparent;
	color: white;
	font-size: 16px;
	margin-bottom: 20px;
	margin-left: 60px;
}

.search-box input::placeholder {
	color: gray;
}

.menu {
	margin-top: 20px;
}

.menu-item {
	display: flex;
	align-items: center;
	margin: 15px 0;
	font-size: 18px;
	cursor: pointer;
	margin-bottom: 25px;
	margin-left: 55px;
	font-size: 15px;
	cursor: pointer;
}

.menu-item span {
	margin-left: 10px;
}

.sub-item {
	color: gray;
	margin: 10px 0 10px 35px;
	font-size: 14px;
	margin-bottom: 15px;
	margin-left: 90px;
	cursor: pointer;
}
