.nav-bar {
	height: 50px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: #0f0f0f;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #0f0f0f;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hamburger-icon {
	height: 25px;
	cursor: pointer;
}
.hamburger-icon:hover {
	background-color: #222222;
	padding: 7px;
	border-radius: 30px;
}
.youtube-icon {
	height: 25px;
}
.youtube-icon-text {
	font-weight: bold;
	font-family: Roboto, Arial;
	font-size: 18px;
}
.youtube-icon-container {
	display: flex;
	align-items: center;
	gap: 3px;
	cursor: pointer;
}
.youtube-absolute {
	position: absolute;
	font-size: 10px;
	top: -8px;
	right: -11px;
	color: #aaaaaa;
}
.youtube-icon-text {
	position: relative;
}
.input2 {
	width: 600px;
	height: 32px;
	border-start-start-radius: 20px;
	border-end-start-radius: 20px;
	border: 0.1px solid;
	display: inline-block;
	border-color: gray;
	padding-left: 15px;
	background-color: #121212;
}
.input2::placeholder {
	font-size: 15px;
}
.search-icon-button {
	height: 37px;
	border-end-end-radius: 20px;
	border-start-end-radius: 20px;
	border: 0.5px solid;
	border-color: gray;
	margin-left: -1px;
	width: 60px;
	background-color: #222222;
	cursor: pointer;
}
.search-bar-icon {
	height: 32px;
}
.middle-section1 {
	display: flex;
	align-items: center;
}
.voice-icon {
	height: 25px;
	background-color: #222222;
	padding: 7px;
	border-radius: 40px;
	margin-left: 15px;
	cursor: pointer;
}
.voice-icon:hover {
	background-color: #3d3d3d;
}
.voice-absolute-container .voice-absolute {
	position: absolute;
	background-color: #6f6f6f;
	bottom: -45px;
	white-space: nowrap;
	padding: 9px 8px 9px 8px;
	font-size: 12px;
	border-radius: 3px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.15s;
}
.voice-absolute-container:hover .voice-absolute {
	opacity: 1;
}
.voice-absolute-container {
	position: relative;
	display: flex;
	justify-content: center;
}

.add-icon {
	height: 15px;
}
.add-icon-container {
	display: flex;
	align-items: center;
	background-color: #222222;
	padding: 8px 14px 8px 14px;
	border-radius: 17px;
	margin-right: 20px;
	gap: 10px;
	cursor: pointer;
}
.add-icon-container:hover {
	background-color: #3f3f3f;
}
.right-section1 {
	margin-right: 30px;
	display: flex;
	align-items: center;
}
.notify-icon {
	height: 25px;
	margin-right: 20px;
	cursor: pointer;
}
.uncle-pic {
	height: 32px;
	border-radius: 16px;
}
.left-section1 {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-left: 20px;
}
.notify-absolute-container .notify-absolute {
	background-color: #6f6f6f;
	font-size: 12px;
	position: absolute;
	bottom: -52px;
	padding: 8px 8px 8px 8px;
	border-radius: 3px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.15s;
}
.notify-absolute-container:hover .notify-absolute {
	opacity: 1;
}
.notify-absolute-container {
	position: relative;
	display: flex;
	justify-content: center;
}
.notify-2absolute {
	position: absolute;
	top: -2px;
	right: 15px;
	background-color: rgb(200, 0, 0);
	color: white;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Roboto, Arial;
	font-size: 11px;
	border-radius: 10px;
	pointer-events: none;
}
.notify-absolute-container {
	position: relative;
}
